# 판다스(Pandas)

# 1. 시리즈(Series)

## 1) 생성 및 조회

<table>
    <thead>
        <tr>
            <th>이름</th><th>나이</th><th>키</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>김영철</td><td>24</td><td>179.4</td></tr>
        <tr><td>송윤지</td><td>31</td><td>161.0</td></tr>
        <tr><td>임수현</td><td>26</td><td>174</td></tr>
    </tbody>
</table>

In [233]:
import pandas as pd

In [234]:
name_data = pd.Series(data=["김영철", "송윤지", "임수현"])
age_data = pd.Series(data=[24, 31, 26])
height_data = pd.Series(data=[179.4, 161.0, 174])

print(name_data)
print(age_data)
print(height_data)

# dtype 확인하는 습관을 가져야 됩니다.

0    김영철
1    송윤지
2    임수현
dtype: object
0    24
1    31
2    26
dtype: int64
0    179.4
1    161.0
2    174.0
dtype: float64

### (1) 데이터만 생성

In [235]:
name_data = pd.Series(data=["김영철", "송윤지", "임수현"])
age_data = pd.Series(data=[24, 31, 26])
height_data = pd.Series(data=[179.4, 161.0, 174])

print(name_data)
print(age_data)
print(height_data)

# dtype 확인하는 습관을 가져야 됩니다.

0    김영철
1    송윤지
2    임수현
dtype: object
0    24
1    31
2    26
dtype: int64
0    179.4
1    161.0
2    174.0
dtype: float64

### (2) 인덱스와 함께 생성

<table>
    <thead>
        <tr>
            <th>이름</th><th>나이</th><th>키</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>김영철</td><td>24</td><td>179.4</td></tr>
        <tr><td>송윤지</td><td>31</td><td>161.0</td></tr>
        <tr><td>임수현</td><td>26</td><td>174</td></tr>
    </tbody>
</table>

In [236]:
age_data = pd.Series(
    data = [24, 31, 26],
    index = ["김영철", "송윤지", "임수현"]
)
print(age_data)

print(age_data.index)
print(age_data.values)
print(type(age_data.values))

김영철    24
송윤지    31
임수현    26
dtype: int64
Index(['김영철', '송윤지', '임수현'], dtype='object')
[24 31 26]
<class 'numpy.ndarray'>

## 2) 연산

In [237]:
data1 = pd.Series(data=[10, 20, 30])
data2 = pd.Series(data=[1, 2, 3])

data3 = data1 ** data2
print(data3)

0       10
1      400
2    27000
dtype: int64

## 3) 결측치

### (1) 결측치 발생

In [238]:
import pandas as pd
import numpy as np

data = pd.Series([1, np.nan])
print(data)

0    1.0
1    NaN
dtype: float64

In [239]:
data1 = pd.Series(data=[10, 20, 30])
data2 = pd.Series(data=[1, 2, 3, 4])

data3 =data1 + data2
print(data3)

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

예제
* 데이터가 10, 20, 30인 시리즈 생성, 인덱스는 부산, 울산, 대구으로 설정
* 데이터가 1, 2, 3, 4인 시리즈 생성, 인덱스는 광주, 부산, 울산, 대구으로 설정
* 데이터의 덧셈

In [240]:
import pandas as pd
import numpy as np

local_data = pd.Series(
    data=[10, 20, 30],
    index=["부산", "울산", "대구"]
)
local_data2 = pd.Series(
    data=[1, 2, 3, 4],
    index=["광주", "부산", "울산", "대구"]
)

print(local_data)
print("="*50)
print(local_data2)
print("="*50)
local_data3 = local_data + local_data2
print(local_data3)

# 연산은 인덱스 기준으로 이루어진다

부산    10
울산    20
대구    30
dtype: int64
==================================================
광주    1
부산    2
울산    3
대구    4
dtype: int64
==================================================
광주     NaN
대구    34.0
부산    12.0
울산    23.0
dtype: float64

### (2) 결측치 파악

In [241]:
local_data3.info()  # 결측치 파악

<class 'pandas.core.series.Series'>
Index: 4 entries, 광주 to 울산
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 64.0+ bytes

In [242]:
local_data3.isna() # 결측치 판단하기

광주     True
대구    False
부산    False
울산    False
dtype: bool

In [243]:
local_data3.isna().sum() # 총 결측치의 갯수

np.int64(1)

### (3) 결측치 채우기

In [244]:
local_data3

광주     NaN
대구    34.0
부산    12.0
울산    23.0
dtype: float64

In [245]:
# 결측치 채우기 -> 덮어씌워줘야 해요
local_data3.fillna(0)
print(local_data3)
local_data3 = local_data3.fillna(0)
print(local_data3)

광주     NaN
대구    34.0
부산    12.0
울산    23.0
dtype: float64
광주     0.0
대구    34.0
부산    12.0
울산    23.0
dtype: float64

In [246]:
local_data3

광주     0.0
대구    34.0
부산    12.0
울산    23.0
dtype: float64

### (4) 결측치 삭제

In [247]:
# 결측치 삭제 
local_data3.dropna(inplace=True)

In [248]:
# 결측치 삭제 
local_data3 = local_data3.dropna()
print(local_data3)

광주     0.0
대구    34.0
부산    12.0
울산    23.0
dtype: float64

## 4) 통계

예제. 문자 데이터

```
['HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Marketing', 'Engineering', 'Marketing', 'HR']
```

In [249]:
data = pd.Series(
    data=[10, 20, 30],
    index=["부산", "울산", "대구"]
)
data

부산    10
울산    20
대구    30
dtype: int64

In [250]:
print(data.min())
print(data.mean())
print(data.var())
print(data.std())
print(data.max())

10
20.0
100.0
10.0
30

In [251]:
data.describe()

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64

In [253]:
dep_data = pd.Series(
    data = ['HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Marketing', 'Engineering', 'Marketing', 'HR']
)

data.describe()

# 범주형 데이터

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64

# 2. 데이터프레임(DataFrame)

## 1) 생성

<table>
    <thead>
        <tr>
            <th>이름</th><th>성별</th><th>나이</th><th>키</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>김영철</td><th>M</th><td>24</td><td>179.4</td></tr>
        <tr><td>송윤지</td><th>F</th><td>31</td><td>161.0</td></tr>
        <tr><td>임수현</td><th>F</th><td>26</td><td>174</td></tr>
    </tbody>
</table>

## 2) 조회

### (1) 이름으로 조회

#### 열 조회

#### 행 조회

#### 셀 조회

### (2) 인덱스로 조회

#### 열 조회

#### 행 조회

#### 셀 조회

### (3) 조건부 조회

## 3) 편집

### (1) 인덱스 제거

### (2) 데이터 병합

### (3) 결측치 처리

## 4) 통계

# 3. 실습

## 예제 1.

## 예제 2.

## 예제 3. 자동차 회사의연비 데이터

* manufacturer : 회사명
* cty : 도심연비
* hwy : 고속도로 연비

## 데이터 불러오기

## 데이터 파악하기

## Q1. 몇 개의 회사 데이터가 있나요?

## Q2. 회사별로 참여한 자동차가 몇 대인지 파악하세요.

## Q3. 도심연비와 고속도로 연비를 평균낸 total 연비를 구하세요

## Q4. total 연비 상위 10개 회사의 회사별 개수를 구하세요

## +Quiz. 현대자동차의 평균 total 연비에 대한 평균값은?

## Q5. 평균 total 연비보다 높은 자동차는 PASS, 낮은 자동차는 FAIL로 구분하세요.

## +Quiz. PASS인 자동차 중 가장 많은 숫자의 자동차 회사는?